@charset "UTF-8";

@media screen and (min-width: 600px) and (max-width: 820px){
    html{
        font-family: 'Poppins', sans-serif;
        font-size: 30px;
    }
    header{
        height: 160px;
    }
    .Logo-Decor{
        margin-left: 42px;
        cursor: default;
        margin-top: 17px;
        .imagem{
            width: 121px;
            margin-left: 33px;
            margin-bottom: -23px;
            margin-top: 2px;
        }
        .titulo{
            margin-top: 4px;
            font-size: 44px;
        }
        .icone{
        font-size: 30px;
        }
    }
    .social-midia {
        left: 65%;
        margin-right: 74%;
        margin-top: -49px;
        display: flex;
        gap: 12px;
    }
    .social-midia a{
        font-size: 53px;
    }
    .slide-box img{
        margin-bottom: 21%;
    }
    div p strong {
        font-size: 50px;
    }
    .home-content p {
        text-indent: 20px;
        margin-left: 10px;
        font-size: 30px;
    }
    .portifolio h2 {
        font-size: 50px;
    }
    .portifolio-layer h4 {
        background-color: #b0b0b5a7;
        border-radius: 5px;
        font-size: 40px;
    }
    .portifolio-layer p {
        color: #ffffff;
        margin: 8px 3px 3px;
        font-size: 35px;
    }


}

@media (orientation: landscape) {
    html{
        font-family: 'Poppins', sans-serif;
        font-size: 30px;
    }
    header{
        height: 115px;
    }
    .Logo-Decor{
        margin-left: 42px;
        cursor: default;
        margin-top: 17px;
        .imagem{
            width: 79px;
            margin-left: 33px;
            margin-bottom: -25px;
            margin-top: 5px;
        }
        .titulo{
            margin-top: 13px;
            font-size: 32px;
            width: 53%;
        }
        .icone{
        font-size: 30px;
    }
}
.slide-box img {
    margin-bottom:20%;

}
.social-midia {
    left: 71%;
    margin-right: 41%;
    margin-top: -19px;
    display: flex;
    gap: 12px;
    width: 200px;

}
.social-midia a{
    font-size: 39px;
}

.portifolio-container{
    display: grid;grid-template-columns: repeat(2, 1fr);
}


}
