@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px){
    html{
        font-family: 'Poppins', sans-serif;
        font-size: 30px;
    }
    header{
        height: 160px;
    }
    .Logo-Decor{
        margin-left: 42px;
        cursor: default;
        margin-top: 17px;
        .imagem{
            width: 121px;
            margin-left: 33px;
            margin-bottom: -23px;
            margin-top: 2px;
        }
        .titulo{
            margin-top: 4px;
            font-size: 44px;
        }
        .icone{
        font-size: 30px;
        }
    }
    .social-midia {
        left: 65%;
        margin-right: 74%;
        margin-top: -49px;
        display: flex;
        gap: 17px;
    }
    .social-midia a{
        font-size: 53px;
    }
    .slide-box img{
        margin-bottom: 21%;
    }
    div p strong {
        font-size: 50px;
    }
    .home-content p {
        text-indent: 20px;
        margin-left: 10px;
        font-size: 30px;
    }
    .portifolio h2 {
        font-size: 50px;
    }
    .portifolio-layer h4 {
        background-color: #b0b0b5a7;
        border-radius: 5px;
        font-size: 40px;
    }
    .portifolio-layer p {
        color: #ffffff;
        margin: 8px 3px 3px;
        font-size: 35px;
    }


}
